[
    {
        "scope": "https://api.mybitx.com:443",
        "method": "GET",
        "path": "/api/1/trades?pair=ETHBTC",
        "body": "",
        "status": 200,
        "response": {
            "error": "Invalid currency pair.",
            "error_code": "ErrInvalidPair",
            "error_action": {}
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ]
    },
    {
        "scope": "https://api.gdax.com:443",
        "method": "GET",
        "path": "/products/ETH-BTC/trades?limit=100",
        "body": "",
        "status": 200,
        "response": [
            {
                "time": "2018-04-11T08:07:10.054Z",
                "trade_id": 4563829,
                "price": "0.06082000",
                "size": "0.32292400",
                "side": "sell"
            },
            {
                "time": "2018-04-11T08:06:58.619Z",
                "trade_id": 4563828,
                "price": "0.06082000",
                "size": "0.66006700",
                "side": "sell"
            },
            {
                "time": "2018-04-11T08:06:51.59Z",
                "trade_id": 4563827,
                "price": "0.06082000",
                "size": "0.39582357",
                "side": "sell"
            },
            {
            [...]
    {
        "scope": "https://api.gdax.com:443",
        "method": "GET",
        "path": "/products/ETH-BTC/ticker",
        "body": "",
        "status": 200,
        "response": {
            "trade_id": 4563829,
            "price": "0.06082000",
            "size": "0.32292400",
            "bid": "0.06081",
            "ask": "0.06082",
            "volume": "6224.45812488",
            "time": "2018-04-11T08:07:10.054000Z"
        },
        "rawHeaders": [
            "Wed, 11 Apr 2018 08:07:27 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "155",
            "close",
            "__cfduid=d970b03b195d4143cde4dd19bfd23afc81523434047; expires=Thu, 11-Apr-19 08:07:27 GMT; path=/; domain=.gdax.com; HttpOnly",
            "Content-Type, Accept, cb-session, cb-fp",
            "GET,POST,DELETE,PUT",
            "*",
            "cb-before, cb-after",
            "7200",
            "public, max-age=1",
            "ETag",
            "W/\"9b-HWsfUNFTY2e6szyCg73cLqa4fgI\"",
            "max-age=31536000; includeSubDomains; preload",
            "nosniff",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "409bf5adcc149017-DME"
        ]
    }
]