[
    {
        "scope": "https://www.lakebtc.com:443",
        "method": "get",
        "path": "/api_v1/bctrades/?since=1523433749",
        "body": "",
        "status": 404,
        "response": "not found",
        "rawHeaders": [
            "Content-Type",
            "application/octet-stream"
        ]
    },
    {
        "scope": "https://www.lakebtc.com:443",
        "method": "get",
        "path": "/api_v1/ticker/?",
        "body": "",
        "status": 404,
        "response": "not found",
        "rawHeaders": [
            "Content-Type",
            "application/octet-stream"
        ]
    }
]