[
    {
        "scope": "https://api.quadrigacx.com:443",
        "method": "GET",
        "path": "/v2/transactions/?book=eth_btc&time=hour",
        "body": "",
        "status": 200,
        "response": [
            {
                "amount": "0.33463290",
                "date": "1523432708",
                "price": "0.06043001",
                "tid": 3190944,
                "side": "buy"
            },
            {
                "amount": "0.33750000",
                "date": "1523432706",
                "price": "0.06043001",
                "tid": 3190943,
                "side": "buy"
            },
            {
                "amount": "1.00000000",
                "date": "1523432695",
                "price": "0.06043001",
                "tid": 3190942,
                "side": "buy"
            },
            {
                "amount": "2.12273958",
        [...]
    {
        "scope": "https://api.quadrigacx.com:443",
        "method": "GET",
        "path": "/v2/ticker/?book=eth_btc",
        "body": "",
        "status": 200,
        "response": {
            "high": "0.06121000",
            "last": "0.06043001",
            "timestamp": "1523434022",
            "volume": "422.30150535",
            "vwap": "0.05939274",
            "low": "0.05990999",
            "ask": "0.06106999",
            "bid": "0.06011000"
        },
        "rawHeaders": [
            "Wed, 11 Apr 2018 08:07:36 GMT",
            "Content-Type",
            "application/json",
            "chunked",
            "close",
            "__cfduid=db2be2273a5680ea275a77ade76d5813d1523434056; expires=Thu, 11-Apr-19 08:07:36 GMT; path=/; domain=.quadrigacx.com; HttpOnly",
            "*",
            "nosniff",
            "SAMEORIGIN",
            "PHP/5.5.9-1ubuntu4.24",
            "1; mode=block",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "409bf5e5cfdb9011-DME"
        ]
    }
]